* {margin:0; padding:0;}
li {list-style: none;}
a { text-decoration: none; }

body {background-color: lightgray; margin: 0 auto;}

.container { margin:0 auto; margin-top:10px; width: 962px; border:1px solid #ddd; border-radius:5px; background-color:#fff; }
.clearfix::after {content:''; display:block; clear:both;}

/*header*/
.wrapper { width:1170px; margin:0 auto; }

.top { height:80px; background: #bbb; }
.top_left { float:left; }
.top_right { float:right; }
.top_left li { float:left; line-height:80px; margin-right:10px; }
.top_right li { float:right; margin-left: 10px; font-size:12px;}
.top_right .seoul_logo { float: right; padding-top: 20px;}



.slider {width:100%; height: auto;}

.nav_wrapper { position:relative; }
.menu { position:absolute; text-align: center;}
.menu li { width:160px; height:50px; border-right: 1px solid #bbb; background:rgba(255,255,255,.8); float:left; line-height: 50px;}

/* festival list */
#fest { text-align: center; margin: 0 auto;}
.inner {margin-top: 70px; margin-left: 90px;}
.img list {margin-top:40px;}
.item { width:350px; margin:0 15px; height:250px; float:left;
        border:1px solid #ccc;
        position:relative; overflow: hidden; margin-bottom: 30px;}
/*
.item.left { margin-left: 0;}
.item.right { margin-right: 0;}
*/

.item_img {background:#fff; display: block; max-width: 100%; height: auto;}
.item_desc {background:rgba(255,255,255,.7); position: absolute; width:100%; height:250px;
    bottom:-200px; transition:all .3s ease; font-weight: 300; color:white;}
img {display: block; max-width:100%; height: auto;}
.item:hover .item_desc {bottom:0;}


